@import '../utils/vars';

/* Page Header */

.page-header {
  border-bottom: 1px solid $line-color;
  &__content {
    padding: 0 15px;
    display: flex;
    align-items: center;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 768px) {
      min-height: 80px;
    }
    @media screen and (min-width: 1200px) {
      width: 1200px;
    }
  }
  &__logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: $logo-text-color;
  }
  &__part-of-logo {
    color: $accent-color;
  }
}

/* Mobile-menu */

.menu-toggle {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  transition: fill $transition-timing-function;
  &:hover,
  &:focus {
    fill: $accent-color;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 40px 48px;
  background-color: $background-color;
  z-index: 999;
  transform: translateX(100%);
  transition: transform $transition-timing-function;
}
.menu-container.is-open {
  transform: translateX(0);
}
.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
}
.mobile-menu {
  padding: 0;
  margin: 0;
  height: 100%;
}

/* Mobile-navigation */

.mobile-nav {
  &__list {
    display: block;
  }
  &__item:not(:last-child) {
    margin-bottom: 32px;
  }
  &__item:last-child {
    margin-bottom: 306px;
  }
  &__link {
    display: block;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: $secondary-text-color;
    transition: color $transition-timing-function;
  }
  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }
  &__link--current {
    color: $accent-color;
  }
}

/* Mobile-authentification */

.mobile-auth {
  display: block;
  &__item:not(:last-child) {
    margin-bottom: 32px;
  }
  &__item:last-child {
    margin-bottom: 64px;
  }
  &__link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: $primary-text-color;
  }
  &__link--accent-color {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: $accent-color;
    @media screen and (min-width: 393px) {
      font-size: 34px;
    }
  }
}

/* Mobile-socials */

.mobile-socials {
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: 453px) {
    align-items: center;
    justify-content: center;
  }
  &__item:not(:last-child) {
    margin-right: 20px;
  }
  &__item {
    position: relative;
  }
  &__item:nth-child(n + 2):before {
    content: '';
    position: absolute;
    display: block;
    left: -10px;
    height: 100%;
    width: 1px;
    background-color: rgba(33, 33, 33, 0.2);
  }
  &__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $accent-color;
  }
}

.site-nav {
  display: flex;
  align-items: center;
  @media (max-width: 767px) {
    display: none;
  }
  &__list {
    display: flex;
    margin-left: 88px;
    @media screen and (min-width: 1200px) {
      margin-left: 92px;
    }
  }
  &__item {
    margin-right: 50px;
  }
  &__item:last-child {
    margin-right: 0;
  }
  &__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $secondary-text-color;
    transition: color $transition-timing-function;
  }
  &__link--current {
    position: relative;
    color: $accent-color;
  }
  &__link--current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 3.85px;
    border-radius: 2px;
    background-color: $accent-color;
  }
  &__link:hover,
  :focus {
    color: $accent-color;
  }
}

/* Authentification */

.site-auth {
  display: flex;
  margin-left: auto;
  flex-direction: column;

  @media (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    height: 100%;
    flex-direction: row;
  }
  &__item {
    @media screen and (min-width: 1200px) {
      margin-right: 50px;
    }
  }
  &__item:not(:last-child) {
    margin-bottom: 10px;
  }
  &__item:last-child {
    margin-right: 0;
  }
  &__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: $primary-text-color;
    transition: color $transition-timing-function;

    @media screen and (min-width: 1200px) {
      margin-bottom: 0;
      font-size: 14px;
      line-height: 1.14;
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }
  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }
  &__icon:hover,
  &__icon:focus {
    fill: $accent-color;
  }
}
