@import '../utils/_vars.scss';

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  color: $primary-text-color;
  background-color: $background-color;
  font-family: $main-font;
  font-size: 14px;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
section {
  padding-top: 94px;
  padding-bottom: 94px;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  display: inline-block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
textarea {
  resize: none;
}
