/* text_color */
$primary-text-color: #757575;
$secondary-text-color: #212121;
$thirdly-text-color: #fff;
$logo-text-color: #000000;
$footer-text-color: rgba(255, 255, 255, 0.6);
$placeholder-color: rgba(117, 117, 117, 0.5);

/* accent_color */
$accent-color: #2196f3;
$button-accent-color: #188ce8;

/* background_color */
$background-color: #ffffff;
$background-hero-color: #c4c4c4;
$background-footer-color: #2f303a;
$background-icon-color: #f5f4fa;
$background-team-color: #f5f4fa;
$background-caption-color: rgba(47, 48, 58, 0.8);
$background-footer-icon-color: rgba(255, 255, 255, 0.1);
$background-color-backdrop: rgba(0, 0, 0, 0.2);
$background-color-overlay: rgba(33, 150, 243, 0.9);

/* line_color */
$line-color: #ececec;

/* buttons-port-color */
$buttons-port-color: #f5f4fa;

/* main-font */
$main-font: Roboto, sans-serif;

/* main-icon-color */
$main-icon-color: #afb1b8;

/* transition-timing-function */
$transition-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);

/* linear-gradient */
$linear-gradient: rgba(47, 48, 58, 0.4);

/* border-color*/
$border-color: rgba(255, 255, 255, 0.3);
$border-color-button-close: rgba(0, 0, 0, 0.1);
$border-color-modal-input: rgba(33, 33, 33, 0.2);
$border-color-modal-form-checkbox: #212121;
